/* Colors 
Purple: #450084
Gold: #CBB677
https://www.jmu.edu/identity/our-style/color.shtml
*/

/*navbar */
.navbar {
    background-color: #450084;
    font-size: 20px;
}

.nav-link {
    margin: 10px;
    color: white;
    font-weight: 500;
}

.nav-link:hover {
    color: #CBB677;
}

/*Sections */
.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.section2 .section4 {
    background-color: white;
}


.section3 {
    background-color: #D6D6D6;
}

.section5 {
    background-color: #D6D6D6;
}

/* Landing Page*/

.landingh1 {
    color: white;
    font-size: 100px;

}


#parallax {
    position: relative;
    background-image: url("images/jmu background.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#parallax:before {
    content: "";
    /* overlay */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* Behind the text */
}

#parallax h1 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    #parallax h1 {
        font-size: 5em;
    }
}



.imgLogo {
    align-items: center;
}



a {
    color: #450084;
}

.card {
    height: 100%;
}


.card-img {
    border-radius: 0.375rem;
}

.card-header {
    font-weight: bold;
    font-size: large;
    background-color: #450084;
    color: white;
}

.h2Academics {

    color: #450084;
    font-size: xx-large;
}

.img-academics {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.studentIMG {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* search bar

Original code: https://www.w3schools.com/howto/howto_js_search_menu.asp

*/
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.scrollable-majors {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
}

.major {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.major a {
    text-decoration: none;
    color: black;
}

.major:hover {
    background-color: #eee;
}

.major:last-child {
    border-bottom: none;
}

.grow {
    transition: .5s ease;
}

.grow:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: .5s ease;
}






/*back to top button https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #450084; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    border: 1px solid white;
  }
  
  #myBtn:hover {
    background-color: #D6D6D6; /* Add a dark-grey background on hover */
    border: 1px solid #450084;
    color: #450084;
  }