/* Colors 
Purple: #450084
Gold: #CBB677
https://www.jmu.edu/identity/our-style/color.shtml
*/


.navbar {
    background-color: #450084;
    font-size: 20px;
  }

.nav-link {
    margin: 10px;
    color: white;
    font-weight: 500;
}

.nav-link:hover {
    color: #CBB677;
}


.section {
    min-height: 100vh;
    display: flex;
    align-items: center; 
}



#parallax {
    /* The image used */
    background-image: url("images/jmu\ background.jpg");
  
    /* Set a specific height */
    min-height: 800px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    margin-left: -10px;
    margin-right: -10px;
  }
  
.imgLogo {
    align-items: center;
}
.section2 {
    background-color: white;
}


.section3 {
    background-color: #CBB677;
}

.section5 {
    background-color: #D6D6D6;
}

.landingh1 {
    color: white;
    font-size: 100px;

}


.card {
    height: 100%;
}


.card-img {
    border-radius:  0.375rem;
}

.card-header {
    font-weight: bold;
    font-size: large;   
    background-color: #450084;
    color: white;
}

.h2Academics {

    color: #450084;
    font-size: xx-large;
}

.img-academics {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.studentIMG {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  


